h2 {
	background-color: #4aaaa5;
	color: white;
	padding: 25px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0;
}

h3 {
	text-align: center;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid #bbb 2px;
	padding-bottom: 25px;
}

li {
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 10px 2px 2px 2px;
}

a {
	color: #bbb;
	text-decoration: none;
	margin: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:hover {
	color: pink;
}

body {
	margin: 0;
}

form {
	color: darkgrey;
}

#header {
	margin: 0;
}

.name {
	margin-left: -7px;
	padding: 0;
}

.navbar {
	background-color: #ffffff;
	margin-right: 150px;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: solid #cccccc 2px;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    }

#about_me_background {
	background-image: url("file:///Users/wehaveaproblem16/Basic-Portfolio/assets/images/cork-wallet/cork-wallet.png");
	padding-bottom: 28px;
	padding-top: 28px;
	margin: 0 auto;
}

.about_me {
	border: solid #dddddd 1px;
	display: block;
	background-color: #ffffff;
	padding: 10px;
	margin: 0px 0px 150px 70px;
	height: 380px;
	width: 550px;
}

.about_me img {
	float: left;
	margin: 20px 10px 8px 0px;
	height: 200px;
	width: 200px;
	border: solid darkgrey 4px;
}

.about_me img:hover {
	opacity: 1.0;
}

.image_container {
	float: left;
}

.h2 {
	color: #4aaaa5;
	background-color: white;
	border-bottom: solid #bbb 2px;
	margin-bottom: 0px;
}

.portfolio_background {
	border-bottom: solid #4aaaa5 10px;
	float: left;
	background-image: url("file:///Users/wehaveaproblem16/Basic-Portfolio/assets/images/cork-wallet/cork-wallet.png");
}

.portfolio_icons {
	border: solid #dddddd 1px;
	display: inline;
	background-color: #ffffff;
	padding: 10px;
	margin: 0px 0px 150px 70px;
	height: 700px;
	width: 550px;
}

.portfolio_heading {
	color: #4aaaa5;
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid #dddddd 2px;
}

.portfolio_icons img{
	display: inline;
	height: 250px;
	width: 250px;
	margin: 10px;
}

/* Portfolio Icon 1 */
.icon1 {
	float: left;
	height: 160px;
	width: 216px;
	margin: 20px;
}

.icon1 img{
	height: 160px;
	width: 216px;
	border-radius: 4px;
}

.icon1_button {
	display: block;
	position: relative;
	z-index: 1;
	background-color: #4aaaa5;
	height: 40px;
	width: 216px;
	bottom: 110px;
	right: 5px;
}

.icon1_button h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	position: relative;
	color: white;
	text-align: center;
	top: 12px;
}

h6:hover {
	color: lightgrey;
	opacity: 0.5%;
}

/* Portfolio Icon 2 */
.icon2 {
	float: right;
	height: 160px;
	width: 216px;
	margin: 20px;
	margin-right: 40px;
}

.icon2 img{
	height: 160px;
	width: 216px;
}

.icon2_button {
	display: block;
	position: relative;
	z-index: 1;
	background-color: #4aaaa5;
	height: 45px;
	width: 216px;
	bottom: 100px;
	right: 5px;
}

.icon2_button h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	color: white;
	text-align: center;
	top: 15px;
}

/* Portfolio Icon 3 */
.icon3 {
	float: left;
	height: 160px;
	width: 216px;
	margin: 20px;
}

.icon3 img{
	height: 160px;
	width: 216px;
}

.icon3_button {
	display: block;
	position: relative;
	z-index: 1;
	background-color: #4aaaa5;
	height: 45px;
	width: 216px;
	bottom: 100px;
	right: 5px;
}

.icon3_button h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	color: white;
	text-align: center;
	top: 15px;
}

/* Portfolio Icon 4 */
.icon4 {
	float: right;
	height: 160px;
	width: 216px;
	margin: 20px;
	margin-right: 40px;
}

.icon4 img{
	height: 160px;
	width: 216px;
}

.icon4_button {
	display: block;
	position: relative;
	z-index: 1;
	background-color: #4aaaa5;
	height: 45px;
	width: 216px;
	bottom: 100px;
	right: 5px;
}

.icon4_button h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	color: white;
	text-align: center;
	top: 15px;
}

/* Portfolio Icon 5 */
.icon5 {
	float: left;
	height: 160px;
	width: 216px;
	margin: 20px;
}

.icon5 img{
	height: 160px;
	width: 216px;
}

.icon5_button {
	display: block;
	position: relative;
	z-index: 1;
	background-color: #4aaaa5;
	height: 45px;
	width: 216px;
	bottom: 100px;
	right: 5px;
}

.icon5_button h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	color: white;
	text-align: center;
	top: 15px;
}

.contact_background {
	border-bottom: solid #4aaaa5 10px;
	float: left;
	background-image: url("file:///Users/wehaveaproblem16/Basic-Portfolio/assets/images/cork-wallet/cork-wallet.png");
}

.connect_container {
	border: solid #dddddd 1px;
	background-color: #ffffff;
	padding: 20px;
	height: 150px;
	width: 200px;
	margin: 0px 150px 360px 0px;
}

.connect_container img {
	align: center;
}

.connect_container_p {
	border: solid #dddddd 1px;
	position: relative;
	background-color: #ffffff;
	padding: 20px;
	height: 150px;
	width: 200px;
	margin: -260px 150px 420px 0px;
}

.connect_container_p img {
	align: center;
}

.github_icon {
    display: inline;
    position: relative;
    height: 60px;
    width: 60px;
    align: center;
    bottom: 30px;
    margin-left: 5px;
}

.github_icon img {
	height: 60px;
    width: 60px;
    align: center;
    margin-top: 60px;
}

.github_icon a{
    position: relative;
    height: 60px;
    width: 60px;
    align: center;
    margin-top: -5px;
    margin-left: 0px;
    bottom: 28px;
}

.linkedin_icon {
	position: relative;
	z-index: 2;
	display: inline;
    position: relative;
    height: 60px;
    width: 60px;
    align: center;
    bottom: 30px;
	margin-top: 30px;
	margin-left: -4px;
	margin-right: 2px;
}

.linkedin_icon img {
	height: 60px;
    width: 60px;
    align: center;
    margin-top: 60px;
    margin-left: -10px;
}

.linkedin_icon a {
	position: relative;
    height: 60px;
    width: 60px;
    align: center;
    margin-top: -5px;
    margin-left: 0px;
    bottom: 28px;
}

.stackoverflow_icon {
	position: relative;
	display: inline;
	height: 60px;
    width: 60px;
	margin-bottom: 2px;
	margin-right: 5px;
	bottom: 30px;
	align: center;  
}

.stackoverflow_icon img {
    height: 54px;
    width: 54px;
    align: center;
    margin-top: 60px;
    margin-left: 137px;
    position: relative;
    bottom: 119px;
    border: solid white 1px;
}

.stackoverflow_icon a {
	position: relative;
    height: 60px;
    width: 60px;
    align: center;
    margin-top: -5px;
    margin-left: 0px;
    bottom: 30px;
}

.about_me_contact {
	border: solid #dddddd 1px;
	display: block;
	background-color: #ffffff;
	padding: 10px;
	margin: 0px 0px 150px 70px;
	height: 410px;
	width: 550px;
}

.form_box1 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #bbb;
	width: 534px;
	border: solid lightgrey 1px;
	border-radius: 2px;
	padding: 5px;
}

.form_box2 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #bbb;
	height: 110px;
	width: 542px;
	border: solid lightgrey 1px;
	border-radius: 2px;
}

.form_submit {
	z-index: 1;
	height: 40px;
	width: 80px;
	background-color: #4aaaa5;

}

.form_submit a {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	color: white;
	text-align: center;
	bottom: 29px;
}

.connect_container_contact {
	border: solid #dddddd 1px;
	background-color: #ffffff;
	padding: 20px;
	height: 150px;
	width: 200px;
	margin: 0px 150px 390px 0px;
}

.connect_container_contact img {
	align: center;
}

.footer {
	z-index: 2;
	border-top: solid #4aaaa5 10px;
	background-color: #666666;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer p {
	color: #dddddd;
}